{% extends "layout.html" %}

{% block title %}
    Add User
{% endblock %}

{% block main %}

    <div class="container mt-4">
        <h3 class="text-center">Add New User</h3>

        <form action="/add_user" method="POST" class="mx-auto" style="max-width: 200px;">
            <div class="mb-2">
                <input type="text" class="form-control" id="username" name="username" style="width: 100%;" autocomplete="off" placeholder="Username" autofocus required>
            </div>
    
            <div class="mb-2">
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
            </div>

            <div class="mb-2">
                <label for="role">Select Role</label>
                <select class="form-control" id="role" name="role" style="width: 100%;" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Add User</button>
        </form>

        <div class="text-center mt-3">
            <a href="/list_users" class="btn btn-secondary">Back to Users List</a>
        </div>
    </div>
    
{% endblock %}
